
@font-face {
  font-family: dosis;
  src: url(../src/fonts/Dosis-Bold.ttf);
}
.dosis{
  font-family: dosis;
}
.background{
  background-image: url(./components/layered-waves.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}
.serviceImage{
  height: 30vh;
  width: 30vw;
}
.dashboard{
  background-color: antiquewhite;
  height: 70vh;
  width: 80vw;
}